@import "tailwindcss";

/* Global Styles
Background: #0D0F1A
Primary color: #6366F1
Secondary color: #4F46E5
Background color: #0D0F1A 
Text color: #F5F5F5 */

body h1, body h2, body h3, body h4, body h5, body h6, body p, body a {
  font-family: "Poppins", sans-serif;
  color: #F5F5F5;
}

.main-page {
  background: #0D0F1A;
}

/* Navbar */
.main-navbar {
  background: transparent
}
.nav-fonts {
  font-size: 18px;
  padding: 8px 20px;
  border-radius: 100px;
  background: transparent;
  transition: all 0.3s ease;
}
.nav-fonts:hover {
  background: #4F46E5;
}
.nav-fonts.active {
  background: #4F46E5;
}
