@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

.main-page {
  background: #f2efe9;
  background: linear-gradient(
    0deg,
    rgba(242, 239, 233, 1) 0%,
    rgba(220, 229, 211, 1) 50%,
    rgba(141, 179, 139, 1) 100%
  );
}

/* Navbar */
.main-navbar {
  background: #00000000;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.nav-fonts {
  color: #fff;
  font-size: 18px;
}
