.container {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

/* Base floating animation */
.shape {
  position: absolute;
  opacity: 0.8;
  animation: float 6s ease-in-out infinite;
}

/* Zigzag */
.zigzag {
  top: 2970px;
  right: 8%;
  transform: translateX(-50%);
  animation-duration: 10s;
}

/* Triangle */
.triangle {
  top: 3050px;
  left: 9%;
  animation-duration: 8s;
}

/* Circle */
.circle {
  top: 2790px;
  right: 52%;
  animation-duration: 9s;
}

/* Plus sign */
.plus {
  font-size: 42px;
  font-weight: 300;
  color: white;
  top: 2600px;
  right: 6%;
  animation-duration: 6s;
}

/* Square */
.square {
  top: 2700px;
  left: 6%;
  animation-duration: 5s;
  transform: rotate(15deg);
}

/* Diamond */
.diamond {
  top:2750px;
  right: 70%;
  animation-duration: 4s;
  z-index: 99;
}

/* Wave line */
.wave {
  top: 3000px;
  left: 40%;
  transform: translateX(-50%);
  animation-duration: 7s;
}

/* Floating movement */
@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(12deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
